/.vs/
/.idea/
/.fake/
.vscode/
/packages/
bin/
obj/
out/
/.vscode/
*.sln.DotSettings.user
*.csproj.user
.DS_Store
/tmp/
.terraform/
.swp
git-crypt.key
/build.fsx.lock
*coverage.opencover.xml
deployment/test*
.store/
lcov.info
lcov.opencover.xml
FizzBuzz/.idea/
MemberClub.DotSettings.user